#memory-lane
  - @entries.each do |entry|
    - if entry.parent_entry?
      = render partial: 'parent_trip', locals: {entry: entry}
    - elsif entry.mine?(current_user)
      = render partial: 'my_entry', locals: {entry: entry}
    -else
      = render partial: 'their_entry', locals: {entry: entry}


%br


