%h1 Remember when...

- if @rems.present?
  - @rems.each do |rem|
    .row.mb-4
      .col
        .card
          .card-body
            .d-flex.justify-content-between
              .card-title.d-flex.justify-content-start.align-items-baseline.mt-4
                %h5= simple_format rem.content
              .dropdown.pointer
                .bi.bi-three-dots{'data-bs-toggle': "dropdown" }
                %ul.dropdown-menu
                  %li
                    = link_to edit_rem_path(rem), class: 'dropdown-item' do
                      Edit
                  %li
                    = link_to rem, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } do
                      Destroy

= link_to 'Make a new Rem', new_rem_path, class: "btn btn-primary"
