.card
  .card-body
    .d-flex.justify-content-center
      .card-title
        %h1 Happy Valentines Kennedy!
    .d-flex.justify-content-center
      .card-subtitle
        %h5 Here is a Baby Application I made just for you

    .row.mt-5.text-center
      .col
        .card-text
          %p Well, it's really for us. UsStory! Say it fast enough and it sounds like A story. (Clever right? Thanks)
          %p Our story is one that I never want to forget. So I made a place where we can keep track of all the great times we've shared.
          %p I hope you like it!
          %br
          %br
          %br
          %br
          %small More Features to come
